<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mailMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mailMe.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mailMe.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mailMe.Properties.Settings>
            <setting name="mailServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="mailServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="mailServerUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="from" serializeAs="String">
                <value />
            </setting>
            <setting name="to" serializeAs="String">
                <value />
            </setting>
            <setting name="subject" serializeAs="String">
                <value>%title%</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>%text%</value>
            </setting>
        </mailMe.Properties.Settings>
    </userSettings>
</configuration>